@font-face {
  font-family: NeverMind;
  font-style: normal;
  font-weight: 300;
  src: local("NeverMind Light"), local("NeverMind-Light"), url(../static/fonts/Nevermind/NeverMind-light300.woff) format("woff"), url(../static/fonts/Nevermind/NeverMind-light300.ttf) format("truetype")
}

@font-face {
  font-family: Nevermind-Light;
  font-style: normal;
  font-weight: 300;
  src: local("NeverMind Light"), local("NeverMind-Light"), url(../static/fonts/Nevermind/NeverMind-light300.woff) format("woff"), url(../static/fonts/Nevermind/NeverMind-light300.ttf) format("truetype")
}

@font-face {
  font-family: NeverMind;
  font-style: normal;
  font-weight: 400;
  src: local("NeverMind Regular"), local("NeverMind-Regular"), url(../static/fonts/Nevermind/NeverMind-Regular400.woff) format("woff"), url(../static/fonts/Nevermind/NeverMind-Regular400.ttf) format("truetype")
}

@font-face {
  font-family: Nevermind-Regular;
  font-style: normal;
  font-weight: 400;
  src: local("NeverMind Regular"), local("NeverMind-Regular"), url(../static/fonts/Nevermind/NeverMind-Regular400.woff) format("woff"), url(../static/fonts/Nevermind/NeverMind-Regular400.ttf) format("truetype")
}

@font-face {
  font-family: NeverMind;
  font-style: normal;
  font-weight: 500;
  src: local("NeverMind Medium"), local("NeverMind-Medium"), url(../static/fonts/Nevermind/NeverMind-Medium500.woff) format("woff"), url(../static/fonts/Nevermind/NeverMind-Medium500.ttf) format("truetype")
}

@font-face {
  font-family: Nevermind-Medium;
  font-style: normal;
  font-weight: 500;
  src: local("NeverMind Medium"), local("NeverMind-Medium"), url(../static/fonts/Nevermind/NeverMind-Medium500.woff) format("woff"), url(../static/fonts/Nevermind/NeverMind-Medium500.ttf) format("truetype")
}

@font-face {
  font-family: NeverMind;
  font-style: normal;
  font-weight: 600;
  src: local("NeverMind SemiBold"), local("NeverMind-SemiBold"), url(../static/fonts/Nevermind/NeverMind-DemiBold600.woff) format("woff"), url(../static/fonts/Nevermind/NeverMind-DemiBold600.ttf) format("truetype")
}

@font-face {
  font-family: NeverMind-SemiBold;
  font-style: normal;
  font-weight: 600;
  src: local("NeverMind SemiBold"), local("NeverMind-SemiBold"), url(../static/fonts/Nevermind/NeverMind-DemiBold600.woff) format("woff"), url(../static/fonts/Nevermind/NeverMind-DemiBold600.ttf) format("truetype")
}


@font-face {
  font-family: NeverMind;
  font-style: normal;
  font-weight: 700;
  src: local("NeverMind Bold"), local("NeverMind-Bold"), url(../static/fonts/Nevermind/NeverMind-Bold700.woff) format("woff"), url(../static/fonts/Nevermind/NeverMind-Bold700.ttf) format("truetype")
}

@font-face {
  font-family: NeverMind-Bold;
  font-style: normal;
  font-weight: 700;
  src: local("NeverMind Bold"), local("NeverMind-Bold"), url(../static/fonts/Nevermind/NeverMind-Bold700.woff) format("woff"), url(../static/fonts/Nevermind/NeverMind-Bold700.ttf) format("truetype")
}

@font-face {
  font-family: NeverMind;
  font-style: normal;
  font-weight: 800;
  src: local("NeverMind ExtraBold"), local("NeverMind-ExtraBold"), url(../static/fonts/Nevermind/NeverMind-Extrabold800.woff) format("woff"), url(../static/fonts/Nevermind/NeverMind-Extrabold800.ttf) format("truetype")
}

@font-face {
  font-family: NeverMind-ExtraBold;
  font-style: normal;
  font-weight: 800;
  src: local("NeverMind ExtraBold"), local("NeverMind-ExtraBold"), url(../static/fonts/Nevermind/NeverMind-Extrabold800.woff) format("woff"), url(../static/fonts/Nevermind/NeverMind-Extrabold800.ttf) format("truetype")
}

.bar{
  -webkit-app-region: drag;
  box-shadow: none !important;
  border-bottom: 1px rgb(233, 233, 233) solid;
}

.root{
  height: 100vh;
}

.card{
  position: fixed;
  bottom: 10%;
  z-index: 100;
  width: 50%;
  left: calc(50% - 50%/2);
}

/* Minimum aspect ratio */
@media (max-aspect-ratio: 16/9) {
  .card{
    width: 70%;
    left: calc(50% - 70%/2);
  }
}

.center{
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translate(-50%, 0%);
  text-align: center;
}

.center2{
  position: absolute;
  left: 50%;
  top: 8%;
  transform: translate(-50%, 0%);
  text-align: center;
}


.code{
  display: inline-block;
  font-size: 28pt;
  border-radius: 5px;
  border: solid 2px rgb(238, 238, 238);
  padding: 0px 5px;
  background-color: rgb(255,255,255);
}

.code:hover{
  border: solid 2px rgb(204, 204, 204);
}


input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.title{
  display: block;
  font-family: "Nevermind-Bold";
  font-size: 27px;
}

.filename{
  font-family: "Nevermind-Medium";
  font-size: 12.5px;
  margin-bottom: 2.7px;
  margin-top: 0.5px;
}

a{
  cursor: pointer;
}

.warning{
  color: red;
}

.username{
  font-family: "Nevermind";
  color: black;
}

.avatar{
  transform: translate(0, -27%);
}

.right{
  float: right;
}

.counter{
  font-family: "Nevermind";
  font-size: 27px;
}

.progress{
  width: 100%;
  position: absolute;
  bottom: 0px;
  align-self:center;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 9999;
}
