.UITextInput{
    font-family: 'Nevermind-Bold';
    display: inline-block;
    font-size: 12pt;
    border-radius: 5px;
    border: solid 2px rgb(238, 238, 238);
    padding: 8px 8px;
    background-color: rgb(255,255,255);
    width: 250px;
    border-left: none !important;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
/* 
.UITextInput::placeholder { 
    color: rgb(182, 181, 181);
  } */

.UIInputContainer{
    margin: 5px;
    margin-left: -70px;
    margin-right: -70px;
}

.UIInputIcon{
    color: transparent;
    font-family: 'Nevermind-Bold';
    display: inline-block;
    font-size: 12pt;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: solid 2px rgb(238, 238, 238);
    padding: 5px 5px;
    padding-bottom: 6px;
    padding-right: 7px;
    padding-left: 7px;
    padding-top: 7px;
    width: 40px;
    height: 100%;
}

.user{
    background: white url('../../static/images/User.svg') no-repeat center ;
    background-size: 50%;
}

.password{
    background: white url('../../static/images/Password.svg') no-repeat center ;
    background-size: 50%;
}
